{% extends 'base.html' %}

{% block title %} - ABOUT US{% endblock %}

{% block content %}

<div class="about-section">
  <div class="about-container">
    <div class="about-title">
      <h1>About Us</h1>
    </div>
    <div class="about-content">
      <div class="about-article">
        <h3>One World is a UK-based charity dedicated to establishing and protecting the rights of all animals.</h3>
        <p>Like humans, other animals are capable of suffering and have interests in leading their own lives; therefore, they are not ours to use for experimentation, food, clothing, entertainment, or any other reason. One World and our affiliates around the world educate policymakers and the public about cruelty to animals and promote an understanding of the right of all animals to be treated with respect.</p>
        <p>One World works through public education, research, legislation, special events, celebrity involvement and protest campaigns. One World believes in non-violence and does not advocate or support actions in which anyone, human or non-human, is harmed. One World is a charitable organisation that works to educate the public about the horrors of cruelty to animals through peaceful means.</p>
        <div class="button">
          <a href="">Read More</a>
        </div>
      </div>
    </div>
    <div class="image-section">
      <img src="/static/images/img1.jpg" alt="about image">
    </div>
    <div class="social">
      <a href="https://en-gb.facebook.com/"><i class="fab fa-facebook-f"></i></a>
      <a href="https://twitter.com/?lang=en"><i class="fab fa-twitter"></i></a>
      <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
      <a href="https://www.tiktok.com/en/"><i class="fab fa-tiktok"></i></a>
    </div>
  </div>
</div>
  


{% endblock %}