{% extends 'base.html' %}

{% block title %} - We Can Stop It!{% endblock %}

{% block content %}
<h2>Animals Used for Food</h2>
<p class="paragraph">On today’s farms, animals used for food are crammed by the thousands into filthy, windowless sheds or stuffed into wire cages, metal crates, and other torturous devices. Billions of fish—along with “nontarget” animals, including sharks, sea turtles, birds, seals, and whales—are caught each year by the commercial fishing industry. Animals used for food will never raise their families, root around in the soil, build nests, or do anything else that’s natural and important to them. Most won’t even feel the warmth of the sun on their backs or breathe fresh air until the day they’re loaded onto trucks headed for slaughterhouses.</p>
<h2>How Many Animals Are Killed for Food Every Year?</h2>
<p class="paragraph">More than 29 million cows suffer and die in the meat and dairy industries every year. In the U.S., approximately 9 billion chickens are killed for their flesh each year and 305 million hens are used for their eggs. Of the millions of pigs killed every year for food, more than 1 million die annually just during transport to the slaughterhouse, and at least 40,000 have sustained injuries by the time they arrive. An estimated 245 million turkeys are raised and killed for their flesh every year in the U.S. More than 46 million of them are killed each year at Thanksgiving alone, and more than 22 million die at Christmas. More than 31 million ducks are killed each year for their flesh and for cruelly obtained foie gras. More fish are killed for food each year than all other animals combined, as tens of billions of fish and shellfish are slaughtered annually.</p>

<h2>Diary Cows</h2>
<p class="paragraph">Dairy cows are repeatedly impregnated by artificial insemination and have their newborns taken away at birth. Female calves are confined to individual pens and have their horn buds destroyed when they are about eight weeks old. The males are not so lucky. Soon after birth, they are trucked off to veal farms or cattle ranches where they end up as hamburger meat.

The typical dairy cow will spend its entire life inside a concrete-floored enclosure, and although they can live 20 years, most are sent to slaughter after four or five years when their milk production wanes.</p>

<h2>Egg Farms</h2>
<p class="paragraph">Egg farms also continually breed birds so they have a fresh supply of hens to lay eggs. But if babies in the hatchery turn out to be males, they're considered useless by-products because males don't lay eggs. These chicks are tossed ALIVE into the trash, crying out for their lost mothers, or thrown ALIVE into huge rendering machines so they can be ground-up and used as feed for other animals. The female chicks have portions of their beaks cut off while they're fully conscious to prevent them from pecking each other in their overcrowded environments. The beak mutilations keep the profit levels high because injured hens are inefficient egg-layers.</p>

<!-- 
<div class="desktop mobile">
    <div class="top-row">
        <div class="top-column">
            <iframe class="video-class" src="https://www.youtube.com/embed/UcN7SGGoCNI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="top-column-two">
            <h3 class="paragraph">Dairy cows are repeatedly impregnated by artificial insemination and have their newborns taken away at birth. Female calves are confined to individual pens and have their horn buds destroyed when they are about eight weeks old. The males are not so lucky. Soon after birth, they are trucked off to veal farms or cattle ranches where they end up as hamburger meat.

            The typical dairy cow will spend its entire life inside a concrete-floored enclosure, and although they can live 20 years, most are sent to slaughter after four or five years when their milk production wanes.</h3>
        </div>   
    </div>
</div> -->


<!-- <div class="desktop mobile">
    <div class="top-row">
        <div class="top-column">
            <iframe width="auto" height="100" src="https://www.youtube.com/embed/utPkDP3T7R4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="top-column-two">
            <h3 class="paragraph">Egg farms also continually breed birds so they have a fresh supply of hens to lay eggs. But if babies in the hatchery turn out to be males, they're considered useless by-products because males don't lay eggs. These chicks are tossed ALIVE into the trash, crying out for their lost mothers, or thrown ALIVE into huge rendering machines so they can be ground-up and used as feed for other animals. The female chicks have portions of their beaks cut off while they're fully conscious to prevent them from pecking each other in their overcrowded environments. The beak mutilations keep the profit levels high because injured hens are inefficient egg-layers.</h3>
        </div>   
    </div>
</div> -->

<div class="youtube-vidz">
    <div class="vidz"> <iframe width="390" height="390" src="https://www.youtube.com/embed/UcN7SGGoCNI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

    <div class="vidz"> <iframe width="390" height="390" src="https://youtube.com/embed/7nDrLkmUg4E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

    <div class="vidz"> <iframe width="390" height="390" src="https://www.youtube.com/embed/utPkDP3T7R4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
</div>

<div class="boox">
    <img src="/static/images/kkkk.jpg" class="food-img">
        <span class="float-p">The meat industry is by far the biggest killer of animals around the world. It's also responsible for relentless, routine cruelty to pigs, sheep, cows, chickens, ducks, geese, and other animals on farms, who suffer for every minute of their short lives. The story is similar for all animals reared for their flesh.
        </span>
</div>


<!-- <div class="desktop mobile">
    <div class="top-row">
        <div class="top-column">
           
            <img src="/static/images/kkkk.jpg" class="pig">
        </div>
        <div class="top-column-two">
            <h2 class="paragraph">The meat industry is by far the biggest killer of animals around the world. It's also responsible for relentless, routine cruelty to pigs, sheep, cows, chickens, ducks, geese, and other animals on farms, who suffer for every minute of their short lives. The story is similar for all animals reared for their flesh.</h2>
        </div>   
    </div>
</div> -->


{% endblock %}