{% extends 'base.html' %}

{% block title %} - We Can Stop It!{% endblock %}

{% block content %}
<div>
    <h2 class="hunt_head">Hunting</h2>
    <img src="/static/images/hhunting.jpg" class="hunt_image">
    <p class="hunt_p">Hunting might have been necessary for human survival in prehistoric times, but today most hunters stalk and kill animals merely for the thrill of it, not out of necessity. This unnecessary, violent form of “entertainment” rips animal families apart and leaves countless animals orphaned or badly injured when hunters miss their targets.</p>
</div>
<div>
    <h2>Pain and Suffering</h2>
    <p class="paragraph">Quick kills are rare, and many animals suffer prolonged, painful deaths when hunters severely injure but fail to kill them.

        A member of the Maine BowHunters Alliance estimates that 50 percent of animals who are shot with crossbows are wounded but not killed. A study of 80 radio-collared white-tailed deer found that of the 22 deer who had been shot with “traditional archery equipment,” 11 were wounded but not recovered by hunters.
        
        A British study of deer hunting found that 11 percent of deer killed by hunters died only after being shot two or more times and that some wounded deer suffered for more than 15 minutes before dying.
        
        Twenty percent of foxes wounded by hunters are shot again; 10 percent manage to escape, but “starvation is a likely fate” for them, according to one veterinarian.
        
        Hunting also disrupts migration and hibernation patterns and destroys families. For animals such as wolves and geese, who mate for life and live in close-knit family units, hunting can devastate entire communities.
        
        The fear and the inescapable, earsplitting noises from the gunfire and other commotion that hunters create cause hunted animals to suffer tremendous stress. This severely compromises their routine and their eating habits, making it hard for them to store the fat and energy that they need to survive the winter. Loud noises can also disrupt mating rituals and can cause parent animals to flee their dens and nests, leaving their young vulnerable to natural predators.</p>

        <h2>Hunting as Sport and ‘Fair Chase’</h2>
        <p class="paragraph">
            Hunting is often called a sport as a way to pass off a cruel, needless killing spree as a socially acceptable, wholesome activity. However, sports involve competition between two consenting parties and the mediation of a referee. And no sport ends with the deliberate death of one unwilling participant.
            
            Some hunting groups claim that by obeying laws and killing free-range animals in a manner that does not give humans an “improper advantage” over their prey, the activity constitutes “fair chase.” Of course, these same groups encourage hunters to shoot game with rifles, shotguns, and bows and arrows—weapons that no animal has any chance of outrunning, let alone fighting. Furthermore, “free range” as defined today rarely implies the vast wilderness that large game once roamed.</p>
            <h2>Nature Takes Care of Its Own</h2>
            <p class="paragraph">
                Contrary to what hunters often say in defense of their cruel pastime, hunting has nothing to do with “conservation” or “population control.” In fact, animals are often specially bred and raised for hunters to kill.
                
                If left unaltered by humans, the delicate balance of nature’s ecosystems ensures the survival of most species. Natural predators help maintain this balance by killing only the sickest and weakest individuals.
                
                Hunters, however, strive to kill the animals they would like to hang over the fireplace—usually the largest, most robust animals, who are needed to keep the gene pool strong. This “trophy hunting” often weakens the rest of the species’ population: Elephant poaching is believed to have increased the number of tuskless animals in Africa, and in Canada, hunting has caused the bighorn sheep’s horn size to fall by 25 percent in the last 40 years. Nature magazine reports that “the effect on the populations’ genetics is probably deeper.”
                
                Even when unusual natural occurrences cause overpopulation, natural processes work to stabilize the group. Starvation and disease are tragic, but they are nature’s way of ensuring that healthy, strong animals survive and maintain the strength of their herd or group. After hunters kill the largest members of a population, the offspring of weak adults have difficulty finding food and gaining the strength needed to survive extreme weather; therefore, hunting can actually cause starvation rather than prevent it.
                
                “Sport” hunting also exacerbates other problems. For example, the transfer of captive-bred deer and elk between states so that hunters can kill them is believed to have contributed to the epidemic spread of chronic wasting disease (CWD), a fatal neurological illness in deer and elk that has been compared to mad cow disease. As a result, the U.S. Department of Agriculture (USDA) has given state wildlife agencies millions of dollars to “manage” deer and elk populations. While the USDA and the Centers for Disease Control and Prevention claim that CWD has no relationship to any similar diseases that affect humans or farmed animals, the slaughter of deer and elk continues.
                
                Taking exotic “game” animals to non-native environments for hunters to kill is another problem: If they’re able to escape and thrive, they can pose a threat to native wildlife and disrupt established ecosystems.</p>
                <h2>Accidental Victims</h2>
                <p class="paragraph">
                    Hunters’ intended targets aren’t the only ones who suffer. Hunting accidents destroy property and injure and kill horses, cows, dogs, cats, hikers, and other hunters. According to the International Hunter Education Association, there are dozens of deaths and hundreds of injuries attributed to hunting in the U.S. every year—and that number only includes incidents involving humans.</p>
                <h2>Bloodthirsty and Profit-Driven</h2>
                <p class="paragraph">
                    Even though less than 5 percent of the U.S. population hunts, nonhunters are forced to share many wildlife refuges, national forests, state parks, and other public lands with armed individuals who enjoy killing animals. Almost 40 percent of hunters in the U.S. slaughter and maim millions of animals on public land every year. By some estimates, poachers kill just as many animals illegally. Most federal and state agencies that are charged with managing wildlife refuges, national forests, state parks, and other public lands are funded in part by hunting and fishing activities, so agency personnel often go out of their way to encourage these activities rather than regulate or police them.
                    
                    For those who were not exposed to hunting at an early age, agencies and special interest groups hold events and support clubs that target people who are less likely to purchase licenses, such as women, racial minorities, and senior citizens. Wildlife agencies also know that hunters are more likely to purchase licenses in subsequent years if a previous hunt resulted in a kill. Therefore, they implement programs—often called “wildlife management” or “conservation” programs—that are designed to boost the number of “game” species. These programs help to ensure that there are plenty of animals for hunters to kill and, consequently, plenty of revenue from the sale of hunting licenses.
                    
                    Because wildlife agencies are funded by excise taxes on hunting and fishing equipment and by revenue from the sale of licenses, hunters—who constitute a tiny percentage of Americans—enjoy a disproportionate say in how wild areas and the animals who inhabit them are managed. Because money talks, Americans who choose to participate in humane, nonlethal activities such as hiking and bird-watching are given little to no role in decisionmaking.</p>
                <h2>What You Can Do</h2>
                <p class="paragraph">
                    Before you support a “wildlife” or “conservation” group, ask about its position on hunting. Some groups, including the National Wildlife Federation, the National Audubon Society, the Sierra Club, the Izaak Walton League, the Wilderness Society, and the World Wildlife Fund are pro–sport-hunting or they do not oppose it.
                    
                    To combat hunting in your area, post “no hunting” signs on your land, join or form an anti-hunting organization, protest organized hunts, and spread deer repellent or human hair (from barbershops) in hunting areas.
                    
                    Call 1-800-628-7275 to report poachers in national parks to the National Parks and Conservation Association.
                    
                    Educate others about hunting, encourage your legislators to enact or enforce wildlife-protection laws, and insist that non hunters be equally represented on the staffs of wildlife agencies.</p>
</div>
{% endblock %}