{% extends 'base.html' %}

{% block title %} - We Can Stop It!{% endblock %}

{% block content %}

    <div class="row_h">
        <div class="col-1">
            <h2>Make the suffering end, to the animals be a friend!</h2>
            <h3>You have the power, to stop animal cruelty this hour!</h3>
            <p>Never wear anything that panics the cat</p>
            <h4>True beauty is cruelty free.</h4>
            <button type="button"><a href="card"> Help Today<img src="/static/images/arrow.png"></a></button>
        </div>
        <div class="col-2">
            <img src="/static/images/pig.png" class="pig">
        </div>
    </div>
</div>
  
<div class="top-row">
    <div class="top-column">
        <img src="/static/images/animal_abuse.jpg" class="pig" width="500">
    </div>
    <div class="top-column-two">
        <!-- Begin the ADAPTT Kill Counter: -->
        <h4>Animals Slaughtered:</h4>
            <span id="count0">0</span>&nbsp;marine animals<br />
            <span id="count1">0</span>&nbsp;chickens<br />
            <span id="count2">0</span>&nbsp;ducks<br />
            <span id="count3">0</span>&nbsp;pigs<br />
            <span id="count4">0</span>&nbsp;rabbits<br />
            <span id="count5">0</span>&nbsp;turkeys<br />
            <span id="count6">0</span>&nbsp;geese<br />
            <span id="count7">0</span>&nbsp;sheep<br />
            <span id="count8">0</span>&nbsp;goats<br />
            <span id="count9">0</span>&nbsp;cows and calves<br />
            <span id="count10">0</span>&nbsp;rodents<br />
            <span id="count11">0</span>&nbsp;pigeons and other birds<br />
            <span id="count12">0</span>&nbsp;buffaloes<br />
            <span id="count13">0</span>&nbsp;dogs<br />
            <span id="count14">0</span>&nbsp;cats<br />
            <span id="count15">0</span>&nbsp;horses<br />
            <span id="count16">0</span>&nbsp;donkeys and mules<br />
            <span id="count17">0</span>&nbsp;camels and other camelids
            <br>
            <br>
            <a target="_blank" href="https://www.adaptt.org/about/the-kill-counter.html">ADAPTT Kill Counter</a>
    </div>   
</div>


<!-- <div class="social_h">
    <a href="https://en-gb.facebook.com/"><i class="fab fa-facebook-f"></i></a>
    <a href="https://twitter.com/?lang=en"><i class="fab fa-twitter"></i></a>
    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.tiktok.com/en/"><i class="fab fa-tiktok"></i></a>
  </div> -->


{% endblock %}